<div class="container-fluid">
    <h1 class="title">Modern & Classic Quotes </h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <app-quotes-form (addQuote)='addNewQuote($event)'></app-quotes-form>
        </div>
        <div class="col-md-6">
            <div class="all-card">
      <div *ngFor='let quote of quotes; let i = index' class="card-body all">
          <div>
        <h4 id={{i}} appHighlight>{{quote.name}}</h4>
        <button class="btn btn-outline-success" (click)='toggleDetails(i)'>Check Quote Details</button>
          </div>
          <div *ngIf='quote.showDescription'>
        <app-quotes-detail  (isComplete)='deleteQuote($event,i)'  [quote] = 'quote'></app-quotes-detail>
          </div>
      </div>
      </div>
    
        </div>
    </div>
  </div>
