.intern{
    width: auto;
}

.description{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    margin-top: 2%;
}
.showLikes{
margin: 1%;
}
.showdislikes{
    margin: 1%;
}