/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    height: auto;
    background-image: linear-gradient(to bottom right, #58e407,#FFAB0F,#FFF600);
  background-repeat: no-repeat;
}